@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1164px];
  }
  html,
  body {
    @apply overflow-x-hidden;
  }
}

.team .splide__track {
  padding-block: 30px;
}
.splide__slide {
  display: flex;
  justify-content: center;
}
.team .splide__arrow {
  top: 100%;
  z-index: 20;
  transform: translateY(-20%);
}
.team .splide__arrow--prev {
  left: 50%;
}
.team .splide__arrow--next {
  right: 50%;
}

.team .splide__pagination {
  bottom: initial;
  top: 100%;
  gap: 10px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}
.team .splide__pagination .splide__pagination__page {
  background-color: rgba(215, 215, 215, 0.5);
  opacity: 1;
  width: 13px;
  height: 13px;
}
.team .splide__pagination .splide__pagination__page.is-active {
  transform: none;
  background-color: #10253c;
  outline: 1px solid #10253c;
  outline-offset: 2px;
  width: 9px;
  height: 9px;
}
.blog .splide__arrow--next {
  right: initial;
  left: 100%;
}
.blog .splide__arrow--prev {
  left: initial;
  right: 100%;
}
@media screen and (max-width: 700px) {
  .blog .splide__arrow--next {
    left: initial;
    right: 0.5rem;
  }
  .blog .splide__arrow--prev {
    right: initial;
    left: 0.5rem;
  }
}
